<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder
		location="classpath:/properties/defaults.properties,classpath:/properties/config.properties" />

	<bean id="app_context"
		class="org.esupportail.commons.context.ApplicationContextHolder" />

	<import resource="ldap/ldap.xml" />
    <import resource="classpath*:META-INF/esup-sifac-missions2-domain-services-auth.xml" />
	<import resource="classpath*:META-INF/esup-sifac-missions2-domain-services-sifac.xml" />
	<import resource="classpath*:META-INF/esup-sifac-missions2-domain-services-domain.xml" />
	<import resource="classpath*:META-INF/esup-sifac-missions2-sifac-services.xml" />

	<import resource="cache/cache.xml" />
	<import resource="exceptionHandling/exceptionHandling.xml" />
	<import resource="i18n/i18n.xml" />
	<import resource="misc/abstractBeans.xml" />
	<import resource="misc/application.xml" />
	<import resource="smtp/smtp.xml" />
	<import resource="web/agentUtil.xml" />
	<import resource="web/controllers.xml" />

</beans>
