.mission-container td {
	vertical-align: middle;
}

.mission-container div > .af_showDetail_disclosure-icon-link {
	display: block;
	margin: 0 auto;
	width: 16px;
	height: 16px;
	text-decoration: none;
}

.mission-container div > .af_showDetail_prompt-link {
	display: none;
}

td.af_table_detail {
	padding: 0;
}

td.af_table_detail .mission-details {
	padding: 1px;
}

.mission-details.even {
	background: #E9E8E8;
}

.mission-details td {
	background: transparent;
}

.mission-details table, .mission-details td {
	border: none;
}

.mission-details .mission-paid {
	width: 20px;
}

.mission-details .mission-desc {
	min-width: 190px;
	padding-right: 9px
}

.mission-details .mission-mont {
	text-align: right;
	width: 70px;
}

.mission-details .mission-mont {
	text-align: right;
	width: 70px;
}

/* Empty results */
.mission-details td[colspan='3'] {
	font-style: italic;
	color: #555;
}
