.mission-details table, .mission-details td {
	border: 0 none;
	background: transparent;
}

.mission-details td {
    padding: 1px 0 1px 10px;
}

.mission-details td[colspan="2"] {
    font-style: italic;
}