.cat-airplane{background-image:url(../pictos/airplane.png);}
.cat-bus{background-image:url:url(../pictos/bus.png);}
.cat-divers{background-image:url(../pictos/divers.png);}
.cat-hotel{background-image:url(../pictos/hotel.png);}
.cat-parking{background-image:url(../pictos/parking.png);}
.cat-restaurant{background-image:url(../pictos/restaurant.png);}
.cat-taxi{background-image:url(../pictos/taxi.png);}
.cat-train{background-image:url(../pictos/train.png);}

#jqt .toolbar > h1 {
	width: auto !important;
	text-align: left !important;
	margin: 0 !important;
	left: 85px !important;
	right: 10px !important;
	top: 8px !important;
	bottom: auto !important;
}

#jqt .toolbar > h1.full {
	width: auto !important;
	position: static !important;
	text-align: center !important;
	margin: -2px 0 !important;
}

#jqt ul.missions {
	margin: 0 !important;
}

#jqt ul.missions li:first-child {
	border-top: 1px solid #9C9EA5 !important;
}

#jqt ul.missions strong {
	display: block !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#jqt ul.missions a {
	font-family: inherit !important;
	font-size: 16px !important;
	padding: 0 16px 0 0 !important;
}

#jqt ul.missions a em {
	float: left !important;
	font-weight: normal !important;
	padding: 2px 0 !important;
}

#jqt ul.missions a small {
	font-weight: normal !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
}

#jqt ul.missions li.arrow:after {
	top: 50% !important;
	margin-top: -19px !important;
}

#jqt ul.mission li {
	color: #000 !important;
}

#jqt ul.mission small {
	width: auto !important;
}

#jqt ul.details li {
	color: #262626 !important;
	padding: 10px 10px 10px 32px !important;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 16px;
}

#jqt ul.details li.gray {
	opacity: 0.6;
}

#jqt ul.details li.gray small {
	color: #262626 !important;
}

#jqt ul.details small {
	position: static;
	width: auto !important;
	padding: 0 0 0 6px !important;
}
