* {
  margin: 0;
  padding: 0;
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  background: black;
}
#jqt {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
#jqt a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
}
#jqt input {
  -webkit-user-select: auto;
}
#jqt > * {
  display: block;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: 0;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-flex: 1;
  box-flex: 1;
}
#jqt > .current {
  z-index: 10;
}
#jqt > :not(.current) {
  display: none;
}
#jqt .scroll {
  -webkit-margin-collapse: separate;
}
#jqt ul li.arrow:after {
  content: '›';
  width: 22px;
  height: 100%;
  vertical-align: middle;
  font-size: 30px;
  line-height: 38px;
  font-family: Futura, "Futura Condensed", Helvetica, Arial, sans-serif;
  font-weight: bold;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 10;
}
#jqt ul.metal {
  margin: 0;
  padding: 0;
  border-width: 0 0 0 1px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#jqt h1, #jqt h2 {
  font: bold 18px "Helvetica Neue", Helvetica;
  margin: 10px 20px 6px;
  color: #5c6d7b;
  text-shadow: #e8ebee 0 1px 0;
}
#jqt .toolbar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
  border-bottom: 1px solid #2a3441;
  z-index: 10;
  position: relative;
  padding: 10px;
  height: 44px;
}
#jqt .toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 9px;
  margin: 1px 0 0 -75px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  text-shadow: #5c718e 0 -1px 0;
}
#jqt .button {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  bottom: 6px;
  left: 10px;
  right: auto;
  margin: 0;
  padding: 0 10px;
  color: white;
  text-shadow: #3e5779 0 -1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
  border: 1px solid #2d3f57;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: none;
  background-color: #50709a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c97bb), color-stop(50%, #5a7caa), color-stop(51%, #50709a), color-stop(100%, #476489));
  background-image: -webkit-linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
  background-image: linear-gradient(top, #7c97bb, #5a7caa 50%, #50709a 51%, #476489);
}
#jqt ul {
  padding: 0;
  margin: 5px 10px 10px 10px;
  -webkit-margin-collapse: separate;
  background-color: white;
  color: gray;
  text-shadow: white 0 1px 0;
  border: 1px solid #d9d9d9;
  font: bold 18px "Helvetica Neue", Helvetica;
}
#jqt ul:first-child {
  margin-top: 15px;
}
#jqt ul li {
  border-top: 1px solid #f2f2f2;
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  -webkit-transform: translate3d(0, 0, 0);
}
#jqt ul li a {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 10px;
  margin: -10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  color: #262626;
  text-shadow: white 0 1px 0;
}
#jqt ul li small {
  color: #3366cc;
  font: 16px "Helvetica Neue", Helvetica;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 23%;
  position: relative;
  z-index: 20;
  float: right;
  line-height: 16px;
  padding: 2px 8px 4px 8px;
}
#jqt ul li ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}
#jqt ul li select {
  color: black;
  text-shadow: #e8ebee 0 1px 0;
  background: transparent url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
}
#jqt ul li input[type='submit'] {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
  border: 1px outset #aaa;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  padding: 10px;
}
#jqt ul li.arrow small {
  margin-right: 24px;
}
#jqt ul.rounded {
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
  border: 1px solid #52657f;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#jqt ul.rounded li:first-child, #jqt ul.rounded li:first-child a {
  border-top: 0;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
#jqt ul.rounded li:last-child, #jqt ul.rounded li:last-child a {
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#jqt ul.metal li {
  font-size: 26px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #9c9ea5;
  text-shadow: #fff 0 1px 0;
}
#jqt ul.metal li a {
  line-height: 26px;
  margin: 0;
  padding: 13px 0;
}
#jqt ul.metal li em {
  display: block;
  font-size: 14px;
  font-style: normal;
  width: 50%;
  line-height: 14px;
  color: #444;
}
#jqt ul.metal li small {
  float: right;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}
#jqt .info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444;
  padding: 15px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  color: #4c566c;
  background: #dce1eb;
  border-top: 1px solid rgba(76, 86, 108, 0.3);
}
#jqt > * {
  background-color: #cbd2d8;
  background-image: -webkit-gradient(linear, 0% 50%, 7 50%, color-stop(0%, rgba(197, 205, 212, 0)), color-stop(14.286%, rgba(197, 205, 212, 0)), color-stop(14.286%, #c5cdd4), color-stop(100%, #c5cdd4));
  background-image: -webkit-linear-gradient(left, rgba(197, 205, 212, 0), rgba(197, 205, 212, 0) 1px, #c5cdd4 1px, #c5cdd4 7px);
  background-image: linear-gradient(left, rgba(197, 205, 212, 0), rgba(197, 205, 212, 0) 1px, #c5cdd4 1px, #c5cdd4 7px);
  background-size: 7px;
}
#jqt .toolbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92a3b9), color-stop(50%, #7f93ad), color-stop(51%, #768ba7), color-stop(100%, #6d83a1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)), linear-gradient(top, #92a3b9, #7f93ad 50%, #768ba7 51%, #6d83a1);
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
}
#jqt ul input[type='submit'] {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#9c9ea0));
  border: 1px outset #aaa;
}
#jqt ul.metal li a:hover {
  color: #000;
}